.bg-absent .inputCell .cellStyle{
    stroke: #999999
}

.bg-correct .inputCell .cellStyle{
    stroke: #658C5E
}

.bg-present .inputCell .cellStyle{
    stroke: #C0994E
}

.key{
    color: white;
}

.bg-default.key{
    background-color: #E2E8F0;
    color: black;
}

.bg-absent.key{
    background-color: #999999;
}

.bg-correct.key{
    background-color: #658C5E;
}

.bg-present.key{
    background-color: #C0994E;
}